<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁面</title>
    <style>
        .header{
            color:white; 
            background: rgb(76, 52, 231);
            height: 30%;
        }
        .header h1{
            text-align:center;
            padding: 20px;
        }
        .content{
            font-weight: bold;
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>歡迎光臨 這是會員頁</h1>
    </div>
    <div class="content">
        <h3>{{ handle }} 歡迎光臨</h3>
        <a href="/singout">登出系統</a>
    </div>
</body>
</html>
