<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>失敗頁面</title>
    <style>
        .header{
            color:white; 
            background: rgb(72, 48, 230);
            height: 30%;
        }
        .header h1{
            text-align:center;
            padding: 20px;
        }
        .msg{
            color: rgb(206, 23, 23);
            font-weight: bold;
            text-align:center;
        }
        .msg a{
            margin-top: 10px;
        }
    </style>
</head>
    <body>
        <div class="header">
            <h1>失敗頁面</h1>
        </div>
        <div class="msg">
            {{message}}
            <br/>
            <a href="/">回到首頁</a>
        </div>
        

    </body>
</html>
